.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.sections {
  display: flex;
}

.sections section {
  flex: 50%;
}
.section-inprogress {
  background-color: red;
}
.metricsBlock {
  text-align: left;
}